.footer{
    padding: 100px 0px 100px 80px;
    background: #000;
    margin: 1px 0 0 0;
}
.name{
    color: #fff;
    font-weight: 600;
}
.name h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.social_media{
    color: #fff;
    padding: 0px 10px 50px 100px;
}
.social_media a{
    text-decoration: none;
    color: #fff;
}
.copyright{
    color: #fff;
    font-size: 1.2rem;
    padding-top: 60px;
    margin-bottom: -120px;
}